/* Основний колір фону #F5F5F5 */
/* Колір акцентів та лого #2196F3 */
/* Колір вторинного фону #2F303A */
/* Колір заголовків #212121 */
/* Колір тексту #757575 */

:root {
    --primary-background-color: #FFFFFF;
    --accent-color: #2196F3;
    --secondary-background-color: #2F303A;
    --primary-title-color: #212121;
    --primary-text-color: #757575;
}

h1, h2, h3, p, ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    letter-spacing: 0.03em;
    font-size: 14px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    border-bottom: 1px solid #ececec;
    padding: 24px 0 24px 0;
}
.head-container {
    display: flex;
    align-items: center;
}
.site-nav {
    display: flex;
    align-items: center;
}

.link {
    display: flex;
}

.link .list + .list {
margin-left: 50px;
}

.head-contacts {
    display: flex ;
    margin-left: auto;
    padding: 0;
}

.head-contacts .list-cont + .list-cont {
    margin-left: 50px;
}

.nav-link {text-decoration: none;
    font-weight: 500; 
    line-height: 1.17; 
    color: var(--primary-title-color);
}
.current {
    color: var(--accent-color);
}
.nav-link:focus,
.nav-link:hover {
    color: var(--accent-color)
}

.contact-link{
    text-decoration: none;
    font-weight: 500;
    line-height: 1.17;
    color: var(--primary-text-color);
    font-style: normal;
    }

.contact-link:focus,
.contact-link:hover {
    color: var(--accent-color);
}

.list {list-style: none;}

.logo {
    margin-right: 93px;
    font-family: "raleway", sans-serif;
    font-weight: 700; 
    font-size: 26px;
    color: #000000;
    text-decoration: none;
    line-height: 1.17;
    
}


.logo-foot {
    font-family: "raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: var(--primary-background-color);
    text-decoration: none;
    line-height: 1.17;
    font-style: normal;
}
.footer {background-color: var(--secondary-background-color);
    padding: 60px 0 60px 0;
}

.footer .logo-foot {
    display: inline-block;
    margin-right: 0;
}

.foot-contacts {
    margin-top: 20px;
    padding-left: 0;
}

.foot-contacts .list {
    margin-bottom: 9px;
    margin-right: 0;
}

.foot-contacts .list:last-child {
    margin-bottom: 0;
}

.accent {
    color: var(--accent-color);
}
.adress {text-decoration: none;
    line-height: 1.71;
    color: var(--primary-background-color);
    font-style:normal;
}

.mailt {text-decoration: none;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}
    

.mailt:focus, .mailt:hover,
.adress:focus, .adress:hover {
color: var(--accent-color);
}

.hero {
    background-color: var(--secondary-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    width: 696px;
    text-align: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--primary-background-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.btn-service {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    background-color: #188ce8;
    color: var(--primary-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: var(--primary-background-color);
    font-size: 16px;
    font-weight: 700;
    font-family: inherit;
    line-height: 1.8;
    letter-spacing: 0.06em;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.pluses {
    padding-top: 94px;
    padding-bottom: 94px;
}

.pluses-item {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pluses-item .pluses-list {
    width: calc((100%-90px)/4);
    margin-right: 30px;
}

.pluses-item .pluses-list:last-child {
margin-right: 0;
}

.pluses-title {
    margin-bottom: 10px;
    font: weight 700;
    font-size: 14px;
    color: var(--primary-title-color);
    line-height: 1.17;
    text-transform: uppercase;
}
.pluses-text {
    line-height: 1.71;
    text-align: left;
}

.pluses-list, .job-list, 
.team-list, .work-list 
 {list-style: none;
}

.job-title {
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: var(--primary-title-color);
    font-size: 36px;
    line-height: 1.16;
}
.job-images {
    display: flex;
    align-items: center;
}
.job-images .job-list {
    width: calc((100%-60px)/3);
    margin-right: 30px;
}
.job-images .job-list:last-child {
    margin-right: 0px;
}

.section-title {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.team-title   {
    font-weight: 500;
    color: var(--primary-title-color);
    font-size: 16px;
    line-height: 1.18;
}

.team-item {
    display: flex;
    align-items: center;
    padding-bottom: 94px;
}

.team-item .team-list {
    width: calc((100%-90px)/4);
    margin-right: 30px;
}

.team-item .team-list:last-child {
    margin-right: 0;
}
.team-text {
    line-height: 1.18;
    font-size: 16px;
}
.team {
    margin-top: 188px;
    background-color: #F5F4FA;
}

.filter-item {
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    justify-content: center;
}

.filter-item .filter-list + .filter-list {
    margin-left: 8px;
}


.filter-list {
    list-style: none;
}

.filter-btn {
    padding: 6px 22px;
    background-color: #F5F4FA;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary-title-color);
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
}

.all {
    padding: 6px 25px;
}

.filter-btn:focus,
.filter-btn:hover {
    background-color: var(--accent-color);
    color: var(--primary-background-color);
}

.works {

}

.work-title {
font-size: 18px;
line-height: 2;
color: var(--primary-title-color);
letter-spacing: 0.06em;
}
.work-text {
font-size: 16px;
line-height: 1.87;
}